PORT=8000
NODE_ENV=development

MONGO_URI="mongodb+srv://parcidioandre:WQEP0gjbg1t0NH3X@cluster0.rmvl9ox.mongodb.net/"

JWT_SECRET = "jwt_secret_key"
JWT_EXPIRES_IN = "1d"

SESSION_SECRET="session_secret_key"
SESSION_EXPIRES_IN="1d"

GOOGLE_CLIENT_ID=810812995816-30s4gn5s5mrmedjksd8pq2sdc7nnl3gm.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:8000/api/auth/google/callback

FRONTEND_ORIGIN=http://localhost:5173
FRONTEND_GOOGLE_CALLBACK_URL=http://localhost:5173/google/oauth/callback